.griddy {
    width: 100%;
    margin-top: 40px;
    padding: 0 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    }
    
.btsText { 
    grid-area: 1 / 1 / 2 / 3;
 }

.optionSLAM { 
    grid-area: 2 / 1 / 3 / 2; 
    padding: 0 50px;
}

.optionSISR { 
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 50px;
}

.textChild {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 0 48vh; */
}

.ajustementText {
    margin-bottom: 30px;
}

.prettyLine {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
    width: 20%;
}

.veilleGlass {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    max-width: 100%;
    padding: 20px;
}