/* color background */
body {
    background-image: linear-gradient(to right top, #b68ecd, #b3a0da, #b3b2e4, #b7c2eb, #c0d1ef, #bed2ef, #bcd4ee, #bad5ed, #a6cae8, #92bfe3, #7db4de, #65a9d9);
}

/* Footer */
.prettyFooter {
	background-color: rgb(134, 134, 190);
	padding: 14px 14px;
	color: #2d324e;
	font-size: 16px;
	font-weight: 600;
}

/* Menu */
#menu {
	height: 60px;
	padding-left: 18px;
    width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
}

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#menu ul {
	width: 100%;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu a {
	display: block;
	text-decoration: none;
	padding: 14px 14px;
	color: #2d324e;
	font-size: 16px;
	font-weight: 600;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}

#menu li a:hover {
	color: #c7c7c7;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px;
}

#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
    border-radius: 10px;
}

#menu ul.sub-menus li {
	display: block;
	width: 100%;
}

#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}

#menu li:hover ul.sub-menus {
	display: block;
}

#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}

.menuBack {
	background-color: rgb(134, 134, 190);
}

/* logo linkedin */
.logoDin {
	width: 35px;
}

/* logo git */
.logoGit {
	width:35px;
}
/* fin Menu */

/* responsive */
@media screen and (max-width: 885px){
	#menu {
		position:relative
	}

	#menu ul {
		background:#111;
		position:absolute;
		top:100%;
		right:0;
		left:0;
		z-index:3;
		height:auto;
		display:none
	}

	#menu ul.sub-menus {
		width:100%;
		position:static;
	}

	#menu ul.sub-menus a {
		padding-left:30px;
	}

	#menu li {
		display:block;
		float:none;
		width:auto;
	}

	#menu input, #menu label {
		position:absolute;
		top:0;
		left:0;
		display:block;
	}

	#menu input {
		z-index:4;
	}

	#menu input:checked + label {
		color:white;
	}

	#menu input:checked + label:before {
		content:"\00d7";
	}

	#menu input:checked ~ ul {
		display:block;
	}
}
